body, html {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Nanum Gothic', Helvetica, Arial, sans-serif;
    color: #333333;
    background: white;
}
p {
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
    line-height: 160%;
}
#block2 {
    padding-top: 7%;
    background: #f5f5ea;
    padding-bottom: 10%;
}
#block2 div.affected {
    font-size: 250%;
    padding-top: 2em;
}
#block2 div.failed {
    font-size: 150%;
    padding-top: 2em;
    color: #aa0000;
}
#block4 {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
}
#block14 {
    padding-bottom: 5%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
}
#block5 {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
}
#block6 {
    padding-bottom: 10%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
}
#block7 {
    padding-bottom: 5%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
}
#block9 {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
}
#block9 p {
    padding: 5em 0 2em 0;
    position: relative;
    text-align: center;
}
#block9 p.recovered {
    color: green;
}
#block9 p.failed {
    color: red;
}
#block9 p.active {
    color: orange;
}
#block9 span {
    font-size: 600%;
}
#block9 p sup {
    font-size: 100%;
    position: absolute;
    top: 30%;
}
#block10 {
    padding-bottom: 10%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
}
#block1 {
    margin-top: 5%;
    margin-bottom: 10%;
}
#block3 {
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
}
#block16 {
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
}
h1 {
    font-weight: normal;
    font-size: 400%;
    padding-top: 0em;
}
h2 {
    font-weight: normal;
    font-size: 300%;
}
h3 {
    font-weight: normal;
    font-size: 200%;
}
h4 {
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 120%;
}
#percent {
    font-size: 900%;
}
.countries {
    padding-bottom: 10%;
}
.countries-list {
    column-count: 4;
    text-align: left;
    padding-left: 3%;
    padding-right: 3%;
}
a {
    color: #1d7cf8;
    text-decoration: none;
}
a:hover {
    color: #1d7cf8;
    text-decoration: underline;
}
.countries-list a {
    color: #333333;
    text-decoration: none;
    padding: 0 2px;
}
.countries-list a:hover {
    color: #333333;
    text-decoration: underline;
    padding: 0 2px;
}
.countries-list p.current {
    font-weight: bold;
}
.countries-list p.current a {
    background-color: #1d7cf8;
    color: white;
    padding: 0 2px;
}
.countries-list p.excluded a {
    background-color: #f85a67;
    color: white;
    padding: 0 2px;
}
#about {
    border-top: 1px solid lightgray;
}
p.left {
    text-align: left;
    padding-left: 3em;
}
p.left label {
    cursor: pointer;
}
a[target="_blank"]::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
}

#block11 {
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 10%;
}
#block11 table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    position: relative;
}
#block11 table tbody tr:hover {
    background: #f5f5ea;
}
#block11 table td {
    text-align: right;
    padding: 0.3em 1em;
}
#block11 table td.date {
    text-align: left;
    padding: 0.3em 1em;
}
#block11 table th {
    text-align: right;
    padding: 0.5em 1em;
    border-bottom: 1px solid #333333;
    position: sticky;
    top: 0;
    background: #f3f3f3;
    vertical-align: top;
}
#block13 {
    margin-bottom: 10%;
}
#block13 div.dashboard {
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}
#block13 div.dashboard div {
    float: left;
    width: 5em;
    height: 5em;
    margin: 0.3em;
    position: relative;
}
#block13 div.dashboard div h5 {
    font-weight: normal;
    color: #333333;
    margin: 0;
    padding: 0;
    font-size: 80%;
    position: absolute;
    bottom: 2px;
    width: 100%;
}
div.clear {
    clear: both;
}
#block13 p.c {
    margin: 0;
    padding: 0;
    color: #333333;
    font-size: 80%;
}
#block13 p.d {
    margin: 0;
    padding: 0;
    color: red;
    font-size: 80%;
}
.LN {
    background-color: #f5f5f5;
}
.L0 {
    background-color: #93bb2b;
}
.L1 {
    background-color: #cfcc26;
}
.L2 {
    background-color: #d4bf26;
}
.L3 {
    background-color: #d4bf25;
}
.L4 {
    background-color: #d7ab24;
}
.L5 {
    background-color: #d79323;
}
.L6 {
    background-color: #d77820;
}
.L7 {
    background-color: #d75c20;
}
.L8 {
    background-color: #d7421e;
}
.L9 {
    background-color: #d72b1d;
}
.L10 {
    background-color: #d71c1c;
}

#block13 div.dashboard div.L0 h5,
#block13 div.dashboard div.L0 p.c,
#block13 div.dashboard div.L0 p.d,

#block13 div.dashboard div.L1 h5,
#block13 div.dashboard div.L1 p.c,
#block13 div.dashboard div.L1 p.d,

#block13 div.dashboard div.L2 h5,
#block13 div.dashboard div.L2 p.c,
#block13 div.dashboard div.L2 p.d,

#block13 div.dashboard div.L3 h5,
#block13 div.dashboard div.L3 p.c,
#block13 div.dashboard div.L3 p.d,

#block13 div.dashboard div.L4 h5,
#block13 div.dashboard div.L4 p.c,
#block13 div.dashboard div.L4 p.d,

#block13 div.dashboard div.L5 h5,
#block13 div.dashboard div.L5 p.c,
#block13 div.dashboard div.L5 p.d,

#block13 div.dashboard div.L6 h5,
#block13 div.dashboard div.L6 p.c,
#block13 div.dashboard div.L6 p.d,

#block13 div.dashboard div.L7 h5,
#block13 div.dashboard div.L7 p.c,
#block13 div.dashboard div.L7 p.d,

#block13 div.dashboard div.L8 h5,
#block13 div.dashboard div.L8 p.c,
#block13 div.dashboard div.L8 p.d,

#block13 div.dashboard div.L9 h5,
#block13 div.dashboard div.L9 p.c,
#block13 div.dashboard div.L9 p.d,

#block13 div.dashboard div.L10 h5,
#block13 div.dashboard div.L10 p.c,
#block13 div.dashboard div.L10 p.d {
    color: white;
}

.slidecontainer {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

span.down {
    color: #4ec34e;
    font-weight: bold;
}
span.up {
    color: #e54c4c;
    font-weight: bold;
}

.menu {
    position: relative;
    z-index: 100;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #333333;
}
.menu li {
    float: left;
}
.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu li a:hover {
    background-color: #4CAF50;
}
.menu .dropdown:hover .dropbtn {
    background-color: #4CAF50;
}
.menu .active {
    background-color: #4CAF50;
}
.menu .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu li.dropdown {
    display: inline-block;
}
.menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menu .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.menu .dropdown-content a:hover {
    background-color: #dedede;
}
.menu .dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 850px) {
    h1 {
        font-size: 300%;
    }
    #percent {
        font-size: 450%;
    }
    .countries-list {
        column-count: 2;
    }
    #block9 span {
        font-size: 300%;
    }
    #block9 p sup {
        font-size: 100%;
        position: relative;
        display: block;
        margin-top: 0.5em;
    }
    .desktop {
        display: none;
    }
    #block11 {
        display: none;
    }

    .menu li.right, 
    .menu li {
        float: none;
    }
}


/*
MODIFIED

Toggle Switchy v1.13
by Adam Culpepper | @adamculpepper
https://toggleswitchy.com
*/

* {box-sizing: border-box;}

/* Colors: Default (blue) */
.toggle-switchy {color:#fff;}
.toggle-switchy > input + .toggle:before {content:'ON';}
.toggle-switchy > input + .toggle:after {content:'OFF';}
.toggle-switchy > input + .toggle > .switch {background:#fff;}
.toggle-switchy > input + .toggle + .label {color:#000;}
.toggle-switchy > input:checked + .toggle {background:#3498db;}
.toggle-switchy > input:not(:checked) + .toggle {background:#ccc;}
.toggle-switchy > input:checked + .toggle > .switch {border:3px solid #3498db;}
.toggle-switchy > input:not(:checked) + .toggle > .switch {border:3px solid #ccc;}
.toggle-switchy > input:focus + .toggle,
.toggle-switchy > input:active + .toggle {box-shadow:0 0 5px 3px rgba(0, 119, 200, 0.50);}

.toggle-switchy {display:inline-flex; align-items:center; user-select:none; position:relative; vertical-align:middle; margin-bottom:0;}
.toggle-switchy:hover {cursor:pointer;}
.toggle-switchy > input {position:absolute; opacity:0;}
.toggle-switchy > input + .toggle {align-items:center; position:relative;}
.toggle-switchy > input + .toggle {overflow:hidden; position:relative; flex-shrink:0;}
.toggle-switchy > input[disabled] + .toggle {opacity:0.5;}
.toggle-switchy > input[disabled] + .toggle:hover {cursor:not-allowed;}
.toggle-switchy > input + .toggle {width:100%; height:100%; margin:0; cursor:pointer;}
.toggle-switchy > input + .toggle > .switch {display:block; height:100%; position:absolute; right:0; z-index:3;}

/* Labels */
.toggle-switchy > input + .toggle:before,
.toggle-switchy > input + .toggle:after {display:flex; align-items:center; position:absolute; z-index:2; height:100%;}
.toggle-switchy > input + .toggle:before {right:55%;}
.toggle-switchy > input + .toggle:after {left:50%;}
.toggle-switchy > input + .toggle + .label {margin-left:10px;}
.toggle-switchy[data-label='left'] > input + .toggle {order:2;}
.toggle-switchy[data-label='left'] > input + .toggle + .label {order:1; margin-left:0; margin-right:10px;}

/* Show / Hide */
.toggle-switchy > input + .toggle:before {opacity:0;}
.toggle-switchy > input:checked + .toggle:before {opacity:1;}
.toggle-switchy > input:checked + .toggle:after {opacity:0;}

/* Transitions */
.toggle-switchy > input + .toggle {transition:background 100ms linear, box-shadow 100ms linear;}
.toggle-switchy > input + .toggle:before,
.toggle-switchy > input + .toggle:after {transition:all 100ms linear;}
.toggle-switchy > input + .toggle > .switch {transition:right 100ms linear, border-color 100ms linear;}

/* Size: Extra Small */
.toggle-switchy[data-size='xs'] > input + .toggle							{width:45px; height:20px;}
.toggle-switchy[data-size='xs'] > input + .toggle > .switch					{width:20px;}
.toggle-switchy[data-size='xs'] > input + .toggle:before,
.toggle-switchy[data-size='xs'] > input + .toggle:after						{font-size:0.5rem;}
.toggle-switchy[data-size='xs'] > input:not(:checked) + .toggle > .switch	{right:calc(100% - 20px);}

/* Style: Rounded */
.toggle-switchy[data-style='rounded'] > input + .toggle,
.toggle-switchy[data-style='rounded'] > input + .toggle > .switch			{border-radius:50px;}
.toggle-switchy[data-style='rounded'] > input + .toggle:before				{right:50%;}
.toggle-switchy[data-style='rounded'] > input + .toggle:after				{left:50%;}

/* Text: Off */
.toggle-switchy[data-text='false'] > input + .toggle:before,
.toggle-switchy[data-text='false'] > input + .toggle:after					{content:'';}
.toggle-switchy[data-text='false'][data-size='xl'] > input + .toggle		{width:80px;}
.toggle-switchy[data-text='false'][data-size='lg'] > input + .toggle		{width:70px;}
.toggle-switchy[data-text='false'] > input + .toggle						{width:60px;}
.toggle-switchy[data-text='false'][data-size='sm'] > input + .toggle		{width:50px;}
.toggle-switchy[data-text='false'][data-size='xs'] > input + .toggle		{width:40px;}

/* Color: Blue */
.toggle-switchy[data-color='blue'] > input:checked + .toggle				{background:#3498db;}
.toggle-switchy[data-color='blue'] > input:checked + .toggle > .switch		{border-color:#3498db;}


/* 
    Based on:
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_autocomplete
*/
.autocomplete {
    position: relative;
    display: inline-block;
    width: 20em;
}
.autocomplete input {
    border: 1px solid transparent;
    background-color: #eeeeee;
    padding: 10px;
    font-size: 16px;
}
.autocomplete input[type=text] {
    background-color: #eeeeee;
    width: 100%;    
}
.autocomplete input[type=submit] {
    background-color: DodgerBlue;
    cursor: pointer;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: white; 
    border-bottom: 1px solid #d4d4d4; 
    text-align: left;
}
.autocomplete-items div:hover {
    background-color: #e9e9e9; 
}
.autocomplete-active {
    background-color: DodgerBlue !important; 
    color: white; 
}

.menu .searchbox {
    position: absolute;
    right: 2px;
    top: 1px;
}

@media screen and (max-width: 850px) {
    .autocomplete {
        width: 96%;
    }    
    .menu .searchbox {
        width: 100%;
        top: inherit;
    }
    h1 {
        padding-top: 0.5em;
    }

    p {
        padding-left: 10%;
        padding-right: 10%;
    }
}
