body, html {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Nanum Gothic', Helvetica, Arial, sans-serif;
    color: #333333;
    background: white;
}
#block2 {
    padding-top: 10%;
    background: #f5f5ea;
    padding-bottom: 10%;
}
#block4 {
    padding-top: 5%;
    background: #f5f5ea;
    padding-bottom: 10%;
    margin-bottom: 10%;
    padding-left: 2%;
    padding-right: 2%;
}
#block5 {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
}
#block6 {
    padding-bottom: 10%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
}
#block7 {
    padding-bottom: 10%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
}
#block9 {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
}
#block9 p {
    padding: 5em 0 2em 0;
    position: relative;
}
#block9 p.recovered {
    color: green;
}
#block9 p.failed {
    color: red;
}
#block9 p.active {
    color: orange;
}
#block9 span {
    font-size: 600%;
}
#block9 p sup {
    font-size: 100%;
    position: absolute;
    top: 30%;
}
#block10 {
    padding-bottom: 10%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
}
#block1 {
    margin-bottom: 10%;
}
#block3 {
    margin-bottom: 10%;
    padding-left: 2%;
    padding-right: 2%;
}
h1 {
    font-weight: normal;
    font-size: 400%;
    padding-top: 0.7em;
}
h2 {
    font-weight: normal;
    font-size: 300%;
}
h3 {
    font-weight: normal;
    font-size: 200%;
}
h4 {
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 120%;
}
p {
    line-height: 140%;
}
#percent {
    font-size: 900%;
}
#countries {
    padding-bottom: 10%;
}
#countries-list {
    column-count: 4;
    text-align: left;
    padding-left: 3%;
    padding-right: 3%;
}
a {
    color: #1d7cf8;
    text-decoration: none;
}
a:hover {
    color: #1d7cf8;
    text-decoration: underline;
}
#countries-list a {
    color: #333333;
    text-decoration: none;
    padding: 0 2px;
}
#countries-list a:hover {
    color: #333333;
    text-decoration: underline;
    padding: 0 2px;
}
#countries-list p.current {
    font-weight: bold;
}
#countries-list p.current a {
    background-color: #1d7cf8;
    color: white;
    padding: 0 2px;
}
#about {
    border-top: 1px solid lightgray;
}
p.left {
    text-align: left;
    padding-left: 3em;    
}
p.left label {
    cursor: pointer;
}

@media screen and (max-width: 850px) {
    h1 {
        font-size: 300%;
    }
    #percent {
        font-size: 450%;
    }
    #countries-list {
        column-count: 2;
    }
    #block4 {
        display: none;
    }
}


/*
MODIFIED

Toggle Switchy v1.13
by Adam Culpepper | @adamculpepper
https://toggleswitchy.com
*/

* {box-sizing: border-box;}

/* Colors: Default (blue) */
.toggle-switchy {color:#fff;}
.toggle-switchy > input + .toggle:before {content:'ON';}
.toggle-switchy > input + .toggle:after {content:'OFF';}
.toggle-switchy > input + .toggle > .switch {background:#fff;}
.toggle-switchy > input + .toggle + .label {color:#000;}
.toggle-switchy > input:checked + .toggle {background:#3498db;}
.toggle-switchy > input:not(:checked) + .toggle {background:#ccc;}
.toggle-switchy > input:checked + .toggle > .switch {border:3px solid #3498db;}
.toggle-switchy > input:not(:checked) + .toggle > .switch {border:3px solid #ccc;}
.toggle-switchy > input:focus + .toggle,
.toggle-switchy > input:active + .toggle {box-shadow:0 0 5px 3px rgba(0, 119, 200, 0.50);}

.toggle-switchy {display:inline-flex; align-items:center; user-select:none; position:relative; vertical-align:middle; margin-bottom:0;}
.toggle-switchy:hover {cursor:pointer;}
.toggle-switchy > input {position:absolute; opacity:0;}
.toggle-switchy > input + .toggle {align-items:center; position:relative;}
.toggle-switchy > input + .toggle {overflow:hidden; position:relative; flex-shrink:0;}
.toggle-switchy > input[disabled] + .toggle {opacity:0.5;}
.toggle-switchy > input[disabled] + .toggle:hover {cursor:not-allowed;}
.toggle-switchy > input + .toggle {width:100%; height:100%; margin:0; cursor:pointer;}
.toggle-switchy > input + .toggle > .switch {display:block; height:100%; position:absolute; right:0; z-index:3;}

/* Labels */
.toggle-switchy > input + .toggle:before,
.toggle-switchy > input + .toggle:after {display:flex; align-items:center; position:absolute; z-index:2; height:100%;}
.toggle-switchy > input + .toggle:before {right:55%;}
.toggle-switchy > input + .toggle:after {left:50%;}
.toggle-switchy > input + .toggle + .label {margin-left:10px;}
.toggle-switchy[data-label='left'] > input + .toggle {order:2;}
.toggle-switchy[data-label='left'] > input + .toggle + .label {order:1; margin-left:0; margin-right:10px;}

/* Show / Hide */
.toggle-switchy > input + .toggle:before {opacity:0;}
.toggle-switchy > input:checked + .toggle:before {opacity:1;}
.toggle-switchy > input:checked + .toggle:after {opacity:0;}

/* Transitions */
.toggle-switchy > input + .toggle {transition:background 100ms linear, box-shadow 100ms linear;}
.toggle-switchy > input + .toggle:before,
.toggle-switchy > input + .toggle:after {transition:all 100ms linear;}
.toggle-switchy > input + .toggle > .switch {transition:right 100ms linear, border-color 100ms linear;}

/* Size: Extra Small */
.toggle-switchy[data-size='xs'] > input + .toggle							{width:45px; height:20px;}
.toggle-switchy[data-size='xs'] > input + .toggle > .switch					{width:20px;}
.toggle-switchy[data-size='xs'] > input + .toggle:before,
.toggle-switchy[data-size='xs'] > input + .toggle:after						{font-size:0.5rem;}
.toggle-switchy[data-size='xs'] > input:not(:checked) + .toggle > .switch	{right:calc(100% - 20px);}

/* Style: Rounded */
.toggle-switchy[data-style='rounded'] > input + .toggle,
.toggle-switchy[data-style='rounded'] > input + .toggle > .switch			{border-radius:50px;}
.toggle-switchy[data-style='rounded'] > input + .toggle:before				{right:50%;}
.toggle-switchy[data-style='rounded'] > input + .toggle:after				{left:50%;}

/* Text: Off */
.toggle-switchy[data-text='false'] > input + .toggle:before,
.toggle-switchy[data-text='false'] > input + .toggle:after					{content:'';}
.toggle-switchy[data-text='false'][data-size='xl'] > input + .toggle		{width:80px;}
.toggle-switchy[data-text='false'][data-size='lg'] > input + .toggle		{width:70px;}
.toggle-switchy[data-text='false'] > input + .toggle						{width:60px;}
.toggle-switchy[data-text='false'][data-size='sm'] > input + .toggle		{width:50px;}
.toggle-switchy[data-text='false'][data-size='xs'] > input + .toggle		{width:40px;}

/* Color: Blue */
.toggle-switchy[data-color='blue'] > input:checked + .toggle				{background:#3498db;}
.toggle-switchy[data-color='blue'] > input:checked + .toggle > .switch		{border-color:#3498db;}
